/*
@color:red;
#div1{
  width: 200px;
  height: 200px;
  background: @color;
  &:hover{/!*&����ǩ*!/
    width: 400px;
    height: 400px;
    opacity: 0.5;
    .transition(all,1s,ease,0s);
  }
}
.transition(@property,@duration,@timing-function,@delay){
  -webkit-transition:@arguments;
  -moz-transition:@arguments;
  -ms-transition:@arguments;
  -o-transition:@arguments;
  transition:@arguments;
}
*/

@fontSize:16px;
@color:color;
@url:"../images";
@box:box;
#div1{
  font-size: @fontSize;
  @{color}:red;
  background-@{color}:green;
  background-image: url("@{url}/a.png");
}
.@{box}{
  font-weight: bold;
}


/*.public(){  //这个选择器里的样式，编译之后，不会在css中显示出来
  width: 100px;
  height: 100px;
}
.nav ul{
  .public;
  font-size: 14px;
}*/
/*通过extend，可以让各个选择器共用代码*/
/*

.nav ul{
  &:extend(.public);
}

*/
.nav ul:extend(.public){
  font-size: 15px;
}


.box{
  width: 100px;
  height: 100px; img{
    width: 100%;
    height: 100%;
  }
}
.box-shadow(@x:0,@y:0,@blur:0,@spread:0,@color:#000){
  -webkit-box-sizing: @arguments;
  -moz-box-sizing: @arguments;
  -ms-box-sizing: @arguments;
  -o-box-sizing: @arguments;
  box-sizing: @arguments;
}
.average(@x,@y){
  
}